CREATE DATABASE LoanGlobal;
GO

USE LoanGlobal;
GO

CREATE TABLE Users (
    Id INT PRIMARY KEY,
    Name NVARCHAR(100),
    Email NVARCHAR(100),
    Password NVARCHAR(100)
);
GO

INSERT INTO Users (Id, Name, Email, Password)
VALUES (1, 'Kartik', 'kartik@example.com', 'pass123');
GO
